#contenedor {
    background-color: darkolivegreen;
    background-image: url('../recursos/daa0eed979cbd67d4e43a331cba5e82d.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Libre Baskerville', serif;
    color: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor contraste */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

input.form-control {
    max-width: 300px;
    margin: 0 auto;
}

#registrar {
    font-family: 'Libre Baskerville', serif;
    padding: 8px 20px;
}

.registroCuerpo {
    font-family: 'Libre Baskerville', serif;
}

.registrarse {
    color: greenyellow;
    cursor: pointer;
}
