*{
    font-family:' Libre Baskerville', serif;
}

.col-4{
    font-size: 1.7em;
}

.col-1{
    font-size: 1.4em;
}

.col-2{
    font-size: 1.4em;
}

#inicio{
    text-align: center;
    justify-content: center;
    font-size: 1.7em;
}

#header{
    background-color:darkolivegreen;
    color: aliceblue;
}
#home{
    text-decoration: underline;
}
#body{
    background-color:green;
    width:100%;
    height: 70%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
} 
#body img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#titulo{
    font-size: 8em; 
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    top: 10%;  
    left: 30%; 
    white-space: nowrap; 
}
.gris{
    color:cadetblue;
}
.verde{
    color:greenyellow;
}

.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-top: -200px; 
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link{
    width:250px;
    display: block;
    padding: 10px;
    border-radius: 1em;
    color:antiquewhite;
    background: var(--card-bg, #ffffff); 
    transition: background 0.3s ease-in-out;
    text-decoration: none;
}



.card-list .card-item .card-link:hover {
    background-color:darkgreen;
}

.card-list .card-link .card-image{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.8em;
}

.card-list .card-link .badge{
    color: antiquewhite;
    padding: 8px 16px;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 1em;
    width:fit-content;
}


.card-list .card-link .card-title{
    color: antiquewhite;
    background-color: red;
    font-size: 1.3em;
    align-items: center;
    justify-content: center; 
    display: flex; 
    padding: 8px 16px;
    font-weight: 600;
    border-radius: 1em;
    width: 100%; 
    text-align: center; 
}

.card-list .card-link .card-button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    background-color: none;
    cursor: pointer;
    border: 2px solid antiquewhite;
    transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button{
    color:antiquewhite; 
    background-color:lawngreen; 
    
}

#titulo-2{
       font-size: 10em; 
       color: darkgreen;
       font-weight: bold;
       text-align: center;
       margin-top: 20px;
       position: relative;
       white-space: nowrap; 
       text-transform: uppercase;
}

    

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    background-color: olive;
    padding: 20px;
    width:100%;
}

.card {
    width: 250px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 24px; 
    color: #8FBC8F; 
    margin-bottom: 10px;
}

h3 {
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

#footer{
    width: 100%;
    background-color: darkolivegreen;
    color:antiquewhite;
    font-size: xx-large;
}

#footerDirec{
    cursor: pointer;
    text-decoration: solid;
    color: greenyellow;
}