*{
    font-family:' Libre Baskerville', serif;
}

.col-4{
    font-size: 1.7em;
}

.col-1{
    font-size: 1.4em;
}

.col-2{
    font-size: 1.4em;
}

#inicio{
    text-align: center;
    justify-content: center;
    font-size: 1.7em;
}

#header{
    background-color:darkolivegreen;
    color: aliceblue;
}
#home{
    text-decoration: underline;
}
.gris{
    color:cadetblue;
}
.verde{
    color:greenyellow;
}
#titulo-2{
    font-size: 10em; 
    color: darkgreen;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    position: relative;
    white-space: nowrap; 
    text-transform: uppercase;
}
#body{
    background-color:green;
    width:100%;
    height: 70%;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
} 
#Especies {
    height: 900px; /* Ajusta según lo que veas más armónico */
}
#mamiferos{
    background-image: url('../source/43d00174876696d9d428e3432990cab4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100%; 
    display: flex;           
}
#reptiles{
    background-image: url('../source/b1088a25bb5e4f50b567b0236223bff0.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100%; 
    display: flex;           
}
#aves{
    background-image: url('../source/9d7d40986213dd3086c6396113e022cc.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100%; 
    display: flex;           
}
.form-box {
    background-color: rgba(57, 88, 15, 0.5); /* Fondo semitransparente para mejor contraste */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 80%;              
    margin: 10% auto;        
    padding: 20px;           
    border-radius: 1em;
}
.titulo-box{
    color: aliceblue;
    text-align: center;
    position: relative;
    font-size: 2em;
    margin-bottom: 30px;
}
.titulo-box::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 6px;
  background-color: aliceblue;
  border-radius: 4px;
}
.body-box{
    font-size: 0.8em;
    color: aliceblue;
}

.col-4-body{
    height:100%;
}